In [1]:
import requests
import pandas as pd
import numpy as np

import json

from bs4 import BeautifulSoup

from model import Model
import re

/Users/viktor/python/financial-report-analyzer/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
def fetch_report(report_url: str):
    payload = ""
    headers = {
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "en-US,en;q=0.9",
        "Cache-Control": "max-age=0",
        "Cookie": "bm_mi=2F5AC7DBEC90CA72B7048BFB724142E4~YAAQVCR+aDfBglWNAQAAXdbhXxZRJ4RnkkNmfKWUeKc1QmGH7v3TlPngbOdNdESvidaNFbsxYRDuqNOeHf7o1570sBMa6264ltivVUhPKdRHSGYpVZ2XMWAD/nsmFsSdGcaKYGWMYw5uwfMf/PBPBlZjEQFik5jnd6rWMARaXnpOcYh9njmeVVV519UStSmkmZI5vOvjdoluWej0Z2CxX3Tvw6lNgc1tGVpPsmufVg31H7mrJXYEd2r8dgK/8ByPdjyyHV9vmHGVXWgtIYQEPdFuSZTZcKKd+BnNxBwJMemL5bYVUglFp1bWgOrjeN1N3ix8AELEMXzUgBOh3O3bOm20cMppfRlldfsle3K8Ih4OPhQV7X2gCBWcP/IF9xpVVVUCvbQc36+ZPkQeYwCpp1ZbDy4=~1; bm_sv=6FE42A06849FED4835CF97262309E48E~YAAQVCR+aELBglWNAQAA9N3hXxbgrPGTXP4dLr20mIrEPGqqt/fAg73yGCttn0ty9QTvryHyxJIj5/Xk9bdr1pg+N8DKmsja3McwAOPL66B3PbRpOXDni0I/7hj2onuFL1tySgSQdD5H2wbu2hHzLereVi/obIf/64d3G6DMRmi21FiZaZXw0bKx8Dcbey35f4/a0B3//5sv5dyHH022pza3IR0waWQFv9Up4U5Z1kAbE6dcCBfgw81JPrQ0CA==~1; ak_bmsc=A56127CD072C24354C54D9D888F73150~000000000000000000000000000000~YAAQVCR+aB3CglWNAQAAPE7iXxZxAH8EfBgLMoBK20p82jHscZyuohv2ZDf4igBKSFrl/lk2WxTlHBCZjxlNf0g7+4qhiHtb+iiwCO6dsttHAG4aLtjhcRUqGypjDKB5LdHa2gdTTYL6d+zDand7hgzuYEMTmjSlIXjsdiIpL5cRkkkc62gsj4VYGbKiS7sXf8ZJrpwcTVflEsete1zfSn9uR5h8ydDbzbLPj/YOTNBCNU2lE61l66SPhy3c3LkvFWNB33V1iZVX/r7AqomFCHZQrZiEejEOczLuLEfLyEE/ol0OlL5UgHM/KIfQtfG7xhej2JoGiKzIBRyzQT7iChekHOjlzZgF0IvCURxPvw4bLD14OlSOsh9QYMBkH6MEs8csRoOCbuBdYFKkXESQ+dC0QkyTlDgDbzv61UZ6u/Tzsp3AlkDvWHW2FLNVdZE8G47QP0auueW3sMi84Y3n4reVALhIZUHywXQ6w4F4K3P3fQwcU+F/qOFevEsQU60mNxbPeEc=",
        "If-Modified-Since": "Fri, 22 Feb 2019 21 17:19 GMT",
        "Sec-Ch-Ua": '"Not A(Brand";v="99", "Brave";v="121", "Chromium";v="121"',
        "Sec-Ch-Ua-Mobile": "?0",
        "Sec-Ch-Ua-Platform": '"macOS"',
        "Sec-Fetch-Dest": "document",
        "Sec-Fetch-Mode": "navigate",
        "Sec-Fetch-Site": "none",
        "Sec-Fetch-User": "?1",
        "Sec-Gpc": "1",
        "Upgrade-Insecure-Requests": "1",
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36",
    }

    return requests.request("GET", report_url, data=payload, headers=headers)


def extract_sentences(report, parser="xml", pattern="span") -> list:
    soup = BeautifulSoup(report.text, parser)
    sentences = []
    for span in soup.find_all(pattern):
        text = span.text
        if len(text.split(" ")) > 3:
            clean_text = text.replace("\n", " ").replace("\xa0", " ")
            clean_text = re.sub(r"\s+", " ", clean_text)
            clean_text = clean_text.strip()
            sentences.append(clean_text)
    return sentences


def load_sentences(report_url: str) -> list:
    report = fetch_report(report_url)
    sentences = extract_sentences(report)
    if len(sentences) == 0:
        sentences = extract_sentences(report, parser="html.parser", pattern="p")
    return sentences


def analyze_texts(sentences: list, env_pipe, soc_pipe, gov_pipe) -> pd.DataFrame:
    env = env_pipe(sentences, padding=True, truncation=True)
    soc = soc_pipe(sentences, padding=True, truncation=True)
    gov = gov_pipe(sentences, padding=True, truncation=True)

    env_labels = [x["label"] for x in env]
    soc_labels = [x["label"] for x in soc]
    gov_labels = [x["label"] for x in gov]

    return {
        "environmental": env_labels,
        "social": soc_labels,
        "governance": gov_labels,
    }


def load_filings():
    with open("../filings.json", "r") as f:
        filings = json.load(f)
    return filings


def convert_output(x):
    d = {"none": 0}
    if x in d:
        return d[x]
    return 1

In [3]:
model = Model()
env_pipe = model.load_pipe("env")
soc_pipe = model.load_pipe("soc")
gov_pipe = model.load_pipe("gov")

In [4]:
filings = load_filings()

In [7]:
analyses = {}
for ticker, years in filings.items():
    analyses[ticker] = {}
    for year in years:
        report_url = filings[ticker][year]
        sentences = load_sentences(report_url)
        analysis = analyze_texts(sentences[:50], env_pipe, soc_pipe, gov_pipe)
        df = pd.DataFrame(analysis).map(lambda x: convert_output(x))
        analyses[ticker][year] = df.mean(axis=0).to_dict()

In [14]:
rows = []
for ticker, years in analyses.items():
    for year, scores in years.items():
        row = {'ticker': ticker, 'year': year}
        row.update(scores)
        rows.append(row)

# Replace NaN values with np.nan
for row in rows:
    for key, value in row.items():
        if value == 'nan':
            row[key] = np.nan

# Convert to DataFrame
df = pd.DataFrame(rows)

In [19]:
import psycopg2

# Replace these variables with your own values
dbname = "esg"
user = "postgres"
password = "test"
host = "localhost"  # or "127.0.0.1"
port = "5432"

# Establishing the connection
conn = psycopg2.connect(
    dbname=dbname,
    user=user,
    password=password,
    host=host,
    port=port
)

# Creating a cursor object using the connection
cursor = conn.cursor()

In [23]:
cursor.execute("SELECT * FROM sec")
rows = cursor.fetchall()

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://postgres:test@localhost:5432/esg')

In [5]:
import pandas as pd

In [9]:
df = pd.read_sql_table("sec", engine, index_col="id")

In [12]:
dfs = []
for i in range(320):
    dfs.append(df)

test_df = pd.concat(dfs)

In [13]:
test_df

   ticker  year  environmental  social  governance
id
1     abt  2023           0.00     0.0        0.06
2     abt  2022           0.02     0.0        0.00
3     abt  2021           0.02     0.0        0.00
4     abt  2020           0.02     0.0        0.00
5     abt  2019           0.00     0.0        0.02
..    ...   ...            ...     ...         ...
26   aapl  2013           0.02     0.0        0.02
27   aapl  2012           0.02     0.0        0.00
28   aapl  2011           0.02     0.0        0.00
29   aapl  2010           0.02     0.0        0.00
30   aapl  2009           0.02     0.0        0.00

[9600 rows x 5 columns]

In [17]:
test_df.to_sql('sec', engine, if_exists='append', index=False)

600

In [16]:
# Execute SQL queries using cursor.execute()
# Example: cursor.execute("SELECT * FROM your_table_name")

# Don't forget to commit (if you made changes that need to be saved) and close the connection
# conn.commit()
cursor.close()
conn.close()

NameError: name 'cursor' is not defined